[Unit]
Description=Prometheus Monitoring System
After=network.target

[Service]
ExecStart=/opt/prometheus/prometheus --config.file /vagrant/prometheus.yml --web.config.file /vagrant/web-config.yml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
